body {
    align-items: center;
    background: linear-gradient(135deg, #FF4685 0%, #46CFFB 100%);
    font-family: 'Gill Sans MT';
    font-size: 16px;
    letter-spacing: 0.5px;
    padding: 5px;
}

.btn {
    align-items: center;
    background-color: #04588C;
    border-left: #0575bb 5px solid;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    color: aliceblue;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    transition: 0.85s ease;
    width: 675px;
}

.btn:hover {
    background-color: #03A66A;
    border-left: #038656 5px solid;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    color: aliceblue;
    font-size: 18px;
    font-weight: 700;
    padding: 15px;
    text-align: center;
    transition: 0.85s ease;
}

.container-fluid {
    align-content: start;
    background-color: #FFFFFF;
    border-left: 5px #adb2b6 solid;
    border-top: 5px #adb2b6 solid;
    border-right: 5px #787879 solid;
    border-bottom: 5px #787879 solid;
    border-radius: 10px;
    max-width: 750px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    text-align: center;
}

.compute {
    background-color: #F24484;
    border-radius: 5px;
    border-left: #AD2357 5px solid;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    max-width: 650px;
}

.compute2 {
    background-color: #F2CD5C;
    border-radius: 5px;
    border-left: #967f3b 5px solid;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
    max-width: 650px;
}

.compute p,
.compute h3 {
    font-size: 16px;
    text-align: justify;
}

.compute p {
    margin-left: 30px;
}

.label {
    background-color: #04588C;
    border-radius: 5px;
    border-left: #0575bb 3.5px solid;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    color: aliceblue;
    font-weight: bold;
    padding: 5px;
    width: 120px;
}

h1 {
    color: #04588C;
    font-size: 32px;
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
}

h2 {
    color: #04588C;
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
    text-align: justify;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    text-align: justify;
}

h5 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
}

input[type="text"],
select {
    background-color: whitesmoke;
    border: 2px #adb2b6 solid;
    border-radius: 5px;
    box-sizing: border-box;
    color: black;
    font-weight: normal;
    text-align: justify;
    transition: 0.85s ease;
    text-align: justify;
    transition: 0.85s ease;
    padding: 5px;
    width: 545px;
}

input[type="text"]:hover,
select:hover {
    background-color: #46CFFB;
    border: 2px #1f4f6d solid;
    border-radius: 5px;
    box-sizing: border-box;
    color: black;
    font-weight: normal;
    text-align: justify;
    transition: 0.85s ease;
    padding: 5px;
    width: 545px;
}

input[type="number"] {
    width: 200px;
    background-color: whitesmoke;
    border: 2px #adb2b6 solid;
    border-radius: 5px;
    box-sizing: border-box;
    color: black;
    font-weight: normal;
    text-align: justify;
    transition: 0.85s ease;
    text-align: justify;
    transition: 0.85s ease;
    padding: 5px;

}

input[type="number"]:hover {
    width: 200px;
    background-color: #46CFFB;
    border: 2px #1f4f6d solid;
    border-radius: 5px;
    box-sizing: border-box;
    color: black;
    font-weight: normal;
    text-align: justify;
    transition: 0.85s ease;
    padding: 5px;
}